{% extends "base.html" %}

{% block content %}
<div class="full-screen-center">
    <div class="login-card shadow-lg mx-auto" style="width: 100%; max-width: 420px;">

        <h2 class="text-center mb-1 text-white fw-light fs-1">
            Авторизация
        </h2>

        <p class="text-center text-secondary mb-4 ">
            Вход для роли:
            <span class="text-uppercase fw-bold text-white">{{ role }}</span>
        </p>

        <form method="POST">
            <div class="mb-3">
                <input type="text"
                       name="username"
                       class="form-control dark-input"
                       placeholder="Введите логин"
                       required>
            </div>

            <div class="mb-3">
                <input type="password"
                       name="password"
                       class="form-control dark-input"
                       placeholder="Введите пароль"
                       required>
            </div>

            <div class="d-flex justify-content-between align-items-center mb-4 small">
                <div class="form-check">
                    <input class="form-check-input dark-check"
                           type="checkbox"
                           id="remember"
                           checked>
                    <label class="form-check-label text-secondary" for="remember">
                        Запомнить меня
                    </label>
                </div>

                <a href="#" class="text-secondary text-decoration-none">
                    Проблемы со входом?
                </a>
            </div>

            <div class="d-grid mb-3">
                <button type="submit" class="btn btn-outline-light btn-lg btn-purple">
                    Войти
                </button>
            </div>

        </form>

        <div class="text-center mt-2">
            <a href="{{ url_for('index') }}"
               class="text-secondary small text-decoration-none">
                ← Вернуться назад
            </a>
        </div>

    </div>
</div>

{% endblock %}